<!--
<div class="container1">

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      &lt;!&ndash;&ndash;&gt;


      <form class="form-signin mg-btm" #createUserForm="ngForm" (ngSubmit)="submitForm()" autocomplete="false">

        <div class="text-center">
          <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
          <h5 class="content-group">Creare Utilizator
            &lt;!&ndash;<small class="display-block">Your credentials</small>&ndash;&gt;
          </h5>
        </div>


        <div class="main">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">Nume</label>
                <input type="text"
                       class="form-control"
                       placeholder="Nume" autofocus required
                       name="firstName"
                       id="firstName"
                       [(ngModel)]="ui.firstName"
                       maxlength="50"
                >

                <div class="row col-md-12 error">
                  &lt;!&ndash;{{ currentForm.form.controls.firstName.errors | json}}&ndash;&gt;
                  <div class="form-control-feedback1"
                       *ngIf="currentForm && currentForm.form.controls.firstName && currentForm.form.controls.firstName.errors &&
              (currentForm.form.controls.firstName.dirty)">

                    <p *ngIf="currentForm.form.controls.firstName.errors.required">Introduceti numele</p>
                    <p *ngIf="currentForm.form.controls.firstName.errors.maxLength">Lungimea numelui este prea mare</p>
                  </div>
                </div>


              </div>
              </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Prenume</label>
                <input type="text"
                       class="form-control"
                       placeholder="Prenume" required
                       name="lastName"
                       id="lastName"
                       [(ngModel)]="ui.lastName"
                       maxlength="50"
                >
                <div class="row col-md-12 error">
                  &lt;!&ndash;{{ currentForm.form.controls.firstName.errors | json}}&ndash;&gt;
                  <div class="form-control-feedback1"  *ngIf="currentForm && currentForm.form.controls.lastName && currentForm.form.controls.lastName.errors &&
              (currentForm.form.controls.lastName.dirty)">

                    <p *ngIf="currentForm.form.controls.lastName.errors.required">Introduceti prenumele</p>
                    <p *ngIf="currentForm.form.controls.lastName.errors.maxLength">Lungimea numelui este prea mare</p>
                  </div>
                </div>
              </div>
            </div>

          </div>






          <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="text"
                   class="form-control"
                     name="phone"
                   required
                   id="phone"
                   [textMask]="{mask: mask}"
                   pattern="\(\d{4}\) \d{3}-\d{3}"
                   [(ngModel)]="ui.phone"
            >
            <div class="row1 col-mdt-12 error">
              <div class="form-control-feedback1"  *ngIf="currentForm && currentForm.form.controls.phone && currentForm.form.controls.phone.errors &&
              (currentForm.form.controls.phone.dirty)">

                <p *ngIf="currentForm.form.controls.phone.errors.required">Introduceti telefonul</p>
                <p *ngIf="currentForm.form.controls.phone.errors.pattern">Telefonul nu este complet</p>
                &lt;!&ndash;<p *ngIf="currentForm.form.controls.phone.errors.required">Lungimea numelui este prea mare</p>&ndash;&gt;
              </div>
            </div>
          </div>

          &lt;!&ndash;<pre>{{ui | json}}</pre>&ndash;&gt;
          <div class="form-group">
          <section class="customRadio">
            <div>
              <input type="radio" id="control_01" name="select"
                     [value]=0
                     [(ngModel)]=ui.userOrCompany>
              <label for="control_01">
                <h2>Persoana fizica</h2>
                <p>Inregistrare cu scopul de a participa la cursuri.</p>
              </label>
            </div>
            <div>
              <input type="radio" id="control_02" name="select" [value]=1
                     [(ngModel)]=ui.userOrCompany>
              <label for="control_02">
                <h2>Firma</h2>
                <p>Inregistare ca reprezentant a unei firme IT.</p>
              </label>
            </div>
          </section>
          </div>

          <div class="form-group" >
              <div class="col-md-6">
                <div class="row">
              <label for="numeFirma">Nume firma</label>
              <input type="text"
                     name="numeFirma"
                     id="numeFirma"
                     disabled="{{ui.userOrCompany == 0}}"
                     class="form-control"
                     placeholder="Nume firma"
                     required
                     [(ngModel)]="ui.companyName"
              >
              <div class="row col-md-12 error">
                &lt;!&ndash;{{currentForm.form.controls.numeFirma.errors | json}}&ndash;&gt;
                <div class="form-control-feedback1"  *ngIf="currentForm && currentForm.form.controls.numeFirma && currentForm.form.controls.numeFirma.errors &&
              (currentForm.form.controls.numeFirma.dirty)">

                  <p *ngIf="currentForm.form.controls.numeFirma.errors.required">Introduceti numele</p>
                  <p *ngIf="currentForm.form.controls.numeFirma.errors.maxLength">Lungimea numelui este prea mare</p>
                </div>
              </div>

              </div>

              <div class="row">
              <input type="checkbox"
                     name="allowLogo"
                     class="mychk"
                     id="allowLogo"
                     [(ngModel)]="ui.allowLogo"
                     disabled="{{ui.userOrCompany == 0}}"
              > <label for="allowLogo"> Logo-ul poate sa apara pe site</label>
              </div>

            </div>

            <div class="col-md-6">
              <label>Logo firma</label>
              <div class="logo">
                <app-file-component [(obj)]="ui" prop="companyLogo" extraClass="small"
                                    isDisabled="{{ui.userOrCompany == 0}}"></app-file-component>
              </div>
            </div>

          </div>

          <div class="clearfix"></div>
          <div class="row">
            <hr>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                       class="form-control"
                       placeholder="Email" autofocus required
                       name="email"
                       id="email"
                       [(ngModel)]="ui.email"
                       maxlength="50"
                >

                <div class="row col-md-12 error">
                  &lt;!&ndash;{{ currentForm.form.controls.firstName.errors | json}}&ndash;&gt;
                  <div class="form-control-feedback1"  *ngIf="currentForm && currentForm.form.controls.email && currentForm.form.controls.email.errors &&
              (currentForm.form.controls.email.dirty)">

                    <p *ngIf="currentForm.form.controls.email.errors.required">Introduceti email-ul</p>
                    <p *ngIf="currentForm.form.controls.email.errors.maxLength">Lungimea numelui este prea mare</p>
                  </div>
                </div>


              </div>
              </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Parola</label>
                <input type="password" class="form-control" placeholder="Password" required name="password" id="password"
                       maxlength="50"
                       required
                       [(ngModel)]="ui.password" >

                <div class="row" *ngIf="currentForm && currentForm.controls.password && currentForm.controls.password.errors &&
              (currentForm.controls.password.dirty)">
                  <p *ngIf="currentForm.form.controls.password.errors.required">Introduceti parola</p>
                  <p *ngIf="currentForm.form.controls.password.errors.maxLength">Lungimea parolei este prea mare</p>
                </div>
              </div>
              </div>
          </div>





          <div class="form-group login-options">
            <div class="row">
              <div class="col-sm-6">
                &lt;!&ndash;<label class="checkbox-inline">&ndash;&gt;
                &lt;!&ndash;<div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>&ndash;&gt;
                &lt;!&ndash;Remember&ndash;&gt;
                &lt;!&ndash;</label>&ndash;&gt;
              </div>

              <div class="col-sm-6 text-right">
                &lt;!&ndash;<a href="#" (click)="gotoResetPassword()">Resetare parola?</a>&ndash;&gt;
                <a [routerLink]="['/forgotPassword']">Resetare Parola</a>
              </div>
            </div>
          </div>


          <div class="row center">
            <button type="submit" class="btn1 btn-primary">Creaza Utilizator
            </button>
            <span class="error"> {{uiMessage}}</span>
          </div>

          &lt;!&ndash;#######################################&ndash;&gt;


          &lt;!&ndash;<span class="clearfix"></span>&ndash;&gt;
          &lt;!&ndash;Are you a business? <a href=""> Get started here</a>&ndash;&gt;
          &lt;!&ndash;<span class="clearfix"></span>&ndash;&gt;
        </div>
        &lt;!&ndash;<div class="login-footer">&ndash;&gt;
        &lt;!&ndash;<div class="row">&ndash;&gt;
        &lt;!&ndash;<div class="col-xs-7 col-md-7">&ndash;&gt;
        &lt;!&ndash;<div class="left-section">&ndash;&gt;
        &lt;!&ndash;<a href="#" (click)="gotoResetPassword()">Resetare parola?</a>&ndash;&gt;
        &lt;!&ndash;<span class="clearfix"></span>&ndash;&gt;
        &lt;!&ndash;&lt;!&ndash;<a href="">Sign up now</a>&ndash;&gt;&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
        &lt;!&ndash;<div class="col-xs-5 col-md-5 pull-right">&ndash;&gt;
        &lt;!&ndash;<button type="submit" class="btn1 btn-large btn-danger pull-right">Login</button>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;

        &lt;!&ndash;</div>&ndash;&gt;
      </form>
    </div>

    <div class="col-md-4">
    </div>
  </div>


</div>
-->

<!------ Include the above in your HEAD tag ---------->

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Thank you for Sign Up!</div>
        <div class="panel-body">
          <form role="Form" method="post" action="" accept-charset="UTF-8">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" id="fname" class="form-control" name="fname" placeholder="Example: John">
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" class="form-control" name="lname" placeholder="Example: Doe">
            </div>
            <div class="form-group">
              <label for="states">Select your State</label>
              <select id="states" class="form-control" name="state">
                <option value="unknown">Unknown</option>
                <option value="alabama">Alabama</option>
                <option value="alaska">Alaska</option>
                <option value="arizona">Arizona</option>
                <option value="arkansas">Arkansas</option>
                <option value="california">California</option>
                <option value="colorado">Colorado</option>
                <option value="connecticut">Connecticut</option>
                <option value="delaware">Delaware</option>
                <option value="florida">Florida</option>
                <option value="georgia">Georgia</option>
                <option value="hawaii">Hawaii</option>
                <option value="idaho">Idaho</option>
                <option value="illinois">Illinois</option>
                <option value="indiana">Indiana</option>
                <option value="iowa">Iowa</option>
                <option value="kansas">Kansas</option>
                <option value="kentucky">Kentucky</option>
                <option value="louisiana">Louisiana</option>
                <option value="maine">Maine</option>
                <option value="maryland">Maryland</option>
                <option value="massachusetts">Massachusetts</option>
                <option value="michigan">Michigan</option>
                <option value="minnesota">Minnesota</option>
                <option value="mississippi">Mississippi</option>
                <option value="missouri">Missouri</option>
                <option value="montana">Montana</option>
                <option value="nebraska">Nebraska</option>
                <option value="nevada">Nevada</option>
                <option value="new hampshire">New Hampshire</option>
                <option value="new jersey">New Jersey</option>
                <option value="new mexico">New Mexico</option>
                <option value="new york">New York</option>
                <option value="north carolina">North Carolina</option>
                <option value="north dakota">North Dakota</option>
                <option value="ohio">Ohio</option>
                <option value="oklahoma">Oklahoma</option>
                <option value="oregon">Oregon</option>
                <option value="pennsylvania">Pennsylvania</option>
                <option value="rhode island">Rhode Island</option>
                <option value="south carolina">South Carolina</option>
                <option value="south dakota">South Dakota</option>
                <option value="tennessee">Tennessee</option>
                <option value="texas">Texas</option>
                <option value="utah">Utah</option>
                <option value="vermont">Vermont</option>
                <option value="virginia">Virginia</option>
                <option value="washington">Washington</option>
                <option value="west virginia">West Virginia</option>
                <option value="wisconsin">Wisconsin</option>
                <option value="wyoming">Wyoming</option>
              </select>
            </div>
            <div class="form-group">
              <label for="gender">Your Gender</label>
              <select id="gender" class="form-control" name="gender">
                <option value="unknown">Unknown</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="emailaddr">Email Address</label>
              <input type="text" id="emailaddr" class="form-control" name="email" placeholder="Example: john.doe@gmail.com">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" name="password" placeholder="">
            </div>
            <div class="form-group">
              <label for="verifypass">Verify Password</label>
              <input type="password" id="confirmpass" class="form-control" name="verifypass" placeholder="">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary btn-lg" id="submitbtn" name="submit">Sign up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
